<!-- templates是django默认的查找html的文件夹，命名不要错误 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 创建一个登录清单,get如果用post要用到跨域令牌，djiango给了一个伪令牌{%csrf_token%} -->
    <form action="/login/" method="post">
        <input type="text" placeholder="username" name="username">
        <input type="password" placeholder="password" name="password">
        <button type="submit">submit</button>
        {%csrf_token%}
    </form>
    {{error}}
</body>
</html>